<h2>Enter the URL</h2>
<div >
    <form #newsForm = "ngForm"  (ngSubmit) = "onSubmit()" novalidate>
        <div class="form-group">
            <input  type="text" #link1 = "ngModel" [class.is-invalid] = "link1.invalid && link1.touched" class="form-control" 
            id="link" required [(ngModel)]="link" name="link">
            <small class="text-danger" [class.d-none]="link1.valid || link1.untouched">URL is required</small>
            <small class="text-danger"  *ngIf="idIsNull">Domain does not exist, try another!</small>
        </div>
            <button type="submit" [disabled] = "newsForm.form.invalid" class="btn btn-success">Submit</button>
    </form>

</div>
