<h2>Update Domain</h2>
<div style="width: 400px;">
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <!-- <input type="text" class="form-control" id="name" required [(ngModel)]="domain.name" name="name"> -->

        </div>

        <div class="form-group">
            <label for="name">Title</label>
            <!-- <input type="text" class="form-control" id="title" required [(ngModel)]="domain.title" name="title"> -->

        </div>

        <div class="form-group">
            <label for="name">Date</label>
            <!-- <input type="text" class="form-control" id="date" required [(ngModel)]="domain.date" name="date"> -->

        </div>

        <div class="form-group">
            <label for="name">Content</label>
            <!-- <input type="text" class="form-control" id="content" required [(ngModel)]="domain.content" name="content"> -->

        </div>

        <div class="form-group">
            <label for="name">Container</label>
            <!-- <input type="text" class="form-control" id="container" required [(ngModel)]="domain.container" name="container"> -->

        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
